h1 {
	font-size: 1.5rem !important;
}

body {
	background: #ffffff !important;
	font-size: 14px !important;
	line-height: 20px !important;
	font-family: "Source Sans Pro", sans-serif, emoji;
	color: #16161a;
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}
.top-navbar {
	h1 {
		color: #fff !important;
	}
	height: 60px !important;
	display: flex;
	column-gap: 15px;
	align-items: center;
	width: 100%;
	min-height: 50px;
	max-width: 100%;
	word-break: break-word;
	padding: 12px 15px;
	background: #28a0e7 !important;
	border-radius: 0;
	margin: 0;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 18px;
	.nav-item {
		background: #28a0e7 !important;
		a {
			background: #28a0e7 !important;
			background-color: transparent !important;
			color: #fff !important;
			box-shadow: none !important;
			border: none !important;
			&.active {
				background: #fff !important;
			}
		}
	}
}

h1,
h2 {
	color: black !important;
}
.container-fluid {
	height: 100%;
	background: #f8f9fa !important;
	.shadow-sm {
		box-shadow: none !important;
	}
	form#post-form {
		margin-bottom: 0 !important;
		section {
			margin-bottom: 0 !important;
		}
		// button.btn.btn-default {
		// 	background: #e4e9ec !important;
		// 	color: #16161a !important;
		// }
		div.bg-white {
			div.form-group {
				&:after {
					content: none !important;
				}
			}
		}
		div.repeater {
			button {
				margin-top: 0.5rem;
			}
		}
	}
	fieldset {
		margin-bottom: 0 !important;
		> div.bg-white {
			padding-top: 0rem !important;
		}
		.form-group {
			// &:after {
			// 	content: "";
			// 	margin-top: 5px;
			// 	width: 2px;
			// 	display: block;
			// 	width: 100%;
			// 	height: 2px;
			// 	background: #d7dde4;
			// }
		}
	}
	// a.btn-link {
	// 	background: #e4e9ec !important;
	// 	color: #16161a !important;
	// }
	.bg-white {
		background: #f8f9fa !important;
	}
	.form-group {
		input.form-control,
		textarea {
			background: #e4e9ec !important;
		}
		.ts-wrapper.form-control {
			.ts-control {
				background: #e4e9ec !important;
			}
		}
		.ts-wrapper.form-control:not(.disabled) {
			.ts-control {
				background: #e4e9ec !important;
			}
		}
	}
	div.btn-group {
		margin-bottom: 1rem;
	}
}
.badge,
.label {
	background: #e4e9ec !important;
	color: #16161a !important;
}
.layout {
	background: #f8f9fa !important;
	box-shadow: none !important;
	padding: 0.5rem !important;
	&.widget {
		background: #e4e9ec !important;
		padding: 1rem !important;
	}
}
table {
	background: #f8f9fa !important;
	color: #16161a !important;
	tr {
		&:hover {
			background: #e4e9ec;
		}
		th {
			padding: 0 !important;
		}
		td {
			div {
				a.btn-link:not(:hover) {
					background: transparent !important;
				}
				.btn-link:hover {
					background: transparent !important;
					color: black !important;
				}
			}
		}
	}
}
// li {
// 	.btn-link:hover {
// 		background: #e4e9ec !important;
// 		color: #16161a !important;
// 	}
// }
.nav-tabs-alt .nav-tabs .nav-item .nav-link.active {
	background: #28a1e740 !important;
	border-right: 3px solid #28a1e7;
	cursor: default;
}
.bg-dark {
	.side-container {
		display: flex;
		height: 100%;
		ul {
			list-style: none !important;
		}

		.left-side {
			background-color: #28a0e7 !important;
			padding: 0 !important;
			.nav-item {
				margin: 0 !important;
				&:hover {
					background: #e4e9ec !important;
					svg {
						fill: #28a1e7;
					}
				}
				a {
					padding: 15px 0 !important;
					justify-content: center;
					background-color: #28a1e7 !important;
					&.active,
					&:hover {
						background: #e4e9ec !important;
						svg {
							fill: #28a1e7;
						}
					}
					svg {
						margin: 0 !important;
						width: 20px;
						height: 20px;
						fill: rgb(255, 255, 255);
					}
				}
			}
		}
		.right-side {
			// ul > li > a.nav-link {
			// 	justify-content: center;
			// 	background-color: transparent !important;
			// 	&.active,
			// 	&:hover {
			// 		background: #28a1e740 !important;
			// 		border-right: 3px solid #28a1e7;
			// 	}
			// }

			// .sidebar-nav {
				background: #e4e9ec !important;
				box-shadow: none !important;
				padding-top: 0 !important;
			// 	// padding: 0.5rem !important;
			// 	border-right: 3px solid #d7dde4;
			// 	nav {
			// 		.nav {
			// 			background: #e4e9ec !important;
			// 			.nav-item.active {
			// 				a {
			// 					background: #fff !important;
			// 				}
			// 			}
			// 			.nav-item {
			// 				background: #e4e9ec !important;
			// 				color: #16161a !important;
			// 				&.active,
			// 				&:hover {
			// 					background: #fff !important;
			// 				}
			// 				a {
			// 					background: #e4e9ec !important;
			// 					color: #16161a !important;
			// 					&.active,
			// 					&:hover {
			// 						background: #fff !important;
			// 					}
			// 				}
			// 			}
			// 		}
			// 	}
			// }
			ul > li.nav-item {
				border-right: 3px solid transparent;
				&.active,
				&:hover {
					background: #28a1e740 !important;
					border-right: 3px solid #28a1e7;
				}
				a{
					background: transparent !important;
					color: black !important;
				}
			}
		}
	}
}

.side-wrap {
	margin-top: 1rem;
}

#tabContent {
	transition: 0.3s;
	ul {
		transition: 0.3s;
	}
	.content:not(.active) {
		display: none;
	}
}
.main-content-bar {
	padding-left: 0 !important;
	> div {
		padding-left: 0.5rem !important;
	}
}
nav.navbar {
	background-color: #28a0e7 !important;
	ul {
		li.nav-item {
			a.nav-link {
				box-shadow: none !important;
			}
		}
	}
}
div.toast-body {
	background: #e4e9ec !important;
}
.super-main-container {
	margin-top: 60px !important;
}
@media screen and (max-width: 992px) {
	div.col-12 {
		ul.nav.d-flex.flex-nowrap.flex-row.overflow-auto {
			display: none !important;
		}
	}
	nav.navbar-expand-lg {
		background: #e4e9ec !important;
		.container-fluid {
			background: #e4e9ec !important;
		}
	}
	nav.fixed-top {
		.container-fluid {
			background: #e4e9ec !important;
		}
	}
	.super-main-container {
		margin-top: 100px !important;
	}
	div.layout.v-md-center {
		display: none !important;
	}
}
.modal-header {
	margin-bottom: 0.5rem;
}
button {
	font-size: 15px !important;
}
